{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <a href="{{ path('start',{'num':'5'}) }}" type="button" class="btn btn-primary btn-lg btn-block">5 Questions</a>
        <a href="{{ path('start',{'num':'10'}) }}" type="button" class="btn btn-primary btn-lg btn-block">10 Questions</a>
        <a href="{{ path('start',{'num':'15'}) }}" type="button" class="btn btn-primary btn-lg btn-block">15 Questions</a>
        <a href="{{ path('allUsers') }}" type="button" class="btn btn-success btn-lg btn-block">What's my Rank ?</a>
        {% if app.user.isAdmin() %}
            <a href="{{ path('adminAll') }}" type="button" class="btn btn-primary btn-lg btn-block">All Questions</a>
        {% endif %}
        <h3>Rules</h3>
        <p>You are allowed to choose type of game to play. You will get rewarded only if you get perfect score.Perfect score
            means that you answered correctly to all questions.
        </p>
        <p>5 questions game will reward you with 1 point for the total ranking</p>
        <p>10 questions game will reward you with 2 points for the total ranking and the permission to create question yourself</p>
        <p>15 questions game will reward you with 6 points for the total ranking and the permission to create question yourself</p>
        <p>Once you start a game you can't return to previous listed question or go to next one before you give an answer</p>
        <p>Each 5 likes on your question from other users will reward you with 1 point for the total ranking</p>
        <p>Each 5 likes on your comment for a question from other users will reward you with 1 point for the total ranking</p>
        <p>Total ranking is refreshed every Hour</p>
        <p>You are allow to view questions you have created, questions you have liked and questions you have commented on or if you have admin role</p>
        <p>You are allow to edit questions you have created, or if you have admin role</p>
    {% else %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Welcome to Who wants to be a Millionaire</h1>
                <p class="lead">If you have a registration you can <a href="{{ path('security_login') }}">Login</a>
                    to our system , or if you don't just <a href="{{ path('user_register') }}">Sign Up</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}
