{% extends 'base.html.twig' %}

{% block main %}
    <div class="list-group">
        <h2 type="button" class="list-group-item list-group-item-action active">
            And the question is " {{ question.question }} "
        </h2>
        <p class="list-group-item list-group-item-action opt">{{ question.opt1 }}</p>
        <p class="list-group-item list-group-item-action opt">{{ question.opt2 }}</p>
        <p class="list-group-item list-group-item-action opt">{{ question.opt3 }}</p>
        <hr/>
        <p type="button" class="list-group-item list-group-item-action opt">The right answer is: {{ question.correct }}</p>
    </div>

{% endblock %}