{% extends 'base.html.twig' %}

{% block main %}
    <div class="list-group">
        <h2 type="button" class="list-group-item list-group-item-action active">
            And the question is " {{ question.question }} "
        </h2>
        <button type="button" class="list-group-item list-group-item-action opt">{{ question.opt1 }}</button>
        <button type="button" class="list-group-item list-group-item-action opt">{{ question.opt2 }}</button>
        <button type="button" class="list-group-item list-group-item-action opt">{{ question.opt3 }}</button>
        <hr/>
        <h6>Question Number: {{ id-1 }}</h6>
    </div>

    <div class="detailBox">
        <div class="titleBox">
            <label>Comments</label>
            <button type="button" class="close" aria-hidden="true">&times;</button>
        </div>
        <div class="actionBox">
            <ul class="commentList">
                {% for comment in question.comments %}
                <li>
                    <div class="commenterImage">
                  <img src="http://placekitten.com/50/50" />
                    </div>
                    <div class="commentText">
                    <p class="">{{ comment.content }}</p> <span class="date sub-text">on {{ comment.dateAdded|date('Y-m-d') }}</span>

                    </div>
                </li>
        {% endfor %}
            </ul>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Let us know what you think" />
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Add</button>
                </div>
            </form>
        </div>
    </div>


    <div hidden class="animationload loader">
        <div class="osahanloading"></div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <a href={{ path('question',{id:id}) }} hidden id="ok" class="close">OK</a>
            <div id="answer">We are checking your answer...
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
            </div>
        </div>
        </div>
{% endblock %}