{% extends 'base.html.twig' %}

{% block main %}
    <h1>Hello, {{ app.user.fullName }}</h1>
    <h2>Your questions</h2>
    <ul>
        {% for question in app.user.questions %}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2>{{ question.summary }}</h2>
                    </header>
                    <small class="author">
                        {{ question.correct }}
                    </small>
                    <footer>
                        
                    </footer>
                </article>
            </div>
        {% else %}
            <h3>You haven't created any questions yet</h3>
        {% endfor %}
    </ul>

    <div class="row"><h2><a href="{{ path('user_likes') }}">Questions you liked</a></h2></div>

    <div class="row"><h2><a href="{{ path('user_commented') }}">Questions you have commented on</a></h2></div>

{% endblock %}